@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-content-wrapper {
  border: none;
  box-shadow: none;
  border-radius: 1%;
}

.active {
  font-weight: bold;
}
.pending {
  font-weight: normal;
}

aside li {
  box-shadow: inset 0 0 0 0 #e5e6e6;
  display: block;
  padding: 0.2rem;
  width: 100%;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

aside li:hover {
  box-shadow: inset 100vmax 0 0 0 #e5e6e6;

  transition: 0.3s;
}

/* Ajoutez ces règles CSS dans votre fichier CSS ou SCSS */
@media screen and (max-width: 640px) {
  .modal-box {
    width: 90%; /* Ajustez la largeur pour les petits écrans */
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .modal-box {
    width: 80%; /* Ajustez la largeur pour les petits écrans */
    margin: auto;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .modal-box {
    width: 70%; /* Ajustez la largeur pour les écrans moyens */
    margin: auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .modal-box {
    width: 50%; /* Ajustez la largeur pour les grands écrans */
    margin-left: auto;
  }
}

/* Ajoutez d'autres médias queries selon vos besoins */
